<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://docker.streamstech.com</RegistryUrl>
    <UserName>stl</UserName>
    <PublishImageTag>dev</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c682e611-dacd-4839-89df-a445bda73ca8</ProjectGuid>
    <_TargetId>DockerCustomContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>